.searchErr {
  padding-top: 25px;
  color: #AFAFAF
}

.subtitle {
  font-style: italic;
  font-size: 0.7em;
  transform: translateY(-10px);
}

.highlight {
  color: #51D9FF;
}

.results {
  display: inline-block;
}

.demo-list-control {
  max-width: 700px
}

.questionbox {
  color: #42797C;
  border: 1px solid #51D9FF;
  height: 400px;
  width: 100%;
}

.nav {
  border-bottom: 1px solid #51D9FF;
  background-color: #353535;
}

.nav > .bar {
  text-align: center;
}

.mdl-button {
  background-color: #284A4C !important;
  font-size: 0.5em !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  border-radius: 2px !important;
}

.mdl-button:hover {
  background-color: #51D9FF !important;
}

.sidebar {
  margin: 0;
  padding: 0;
}