.welcome-loading {
  text-align: center;
  width: 100%;
  margin-top: 20%
}

.loading > .mdl-spinner {
  width: 84px;
  height: 84px;
}

.loading > .mdl-spinner__circle {
  border-width: 9px;
}

.historybox {
  background-color: #171717;
  text-align: center;
  overflow: scroll;
}
.history-answer {
  background-color: #343535;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #528C9C;
  cursor: pointer;
  font-size: 8px;
}

.history-answer:hover {
  background-color: #3F4949
}

.history-button {
  color: #59B8D2;
  margin: -5px 8px 8px 6px;
  transform: translateY(-20px);
}

.history-button:hover {
  color: #3ED5FF;
}