.answer-field {
  transform: translateY(-40px)
}

.distractors {
  transform: translateY(0px)
}

.chip-bg {
  background-color: #394747;
  width: 100%;
  height: 35px;
}

dialog {
  background-color: #222;
  color: #4EAEAE !important;
}